services:
  postgres:
    image: 'postgres:latest'
    env_file:
      - .env
    environment:
      - 'POSTGRES_DB=${POSTGRES_DB}'
      - 'POSTGRES_PASSWORD=${POSTGRES_PASSWORD}'
      - 'POSTGRES_USER=${POSTGRES_USER}'
    ports:
      - '${POSTGRES_PORT}:5432'
#  redis:
#    image: 'redis:latest'
#    ports:
#      - '6379'
